[submodule ".config/ranger/plugins/devicons2"]
	path = .config/ranger/plugins/devicons2
	url = https://github.com/cdump/ranger-devicons2.git
[submodule ".config/ranger/plugins/archives"]
	path = .config/ranger/plugins/archives
	url = https://github.com/maximtrp/ranger-archives.git
